body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

#qrCodeContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
